.container {
	display: flex;
	/* border: 1px solid green; */
	justify-content: space-between;
	/* border: 1px solid red; */
	height: 2000vh;
}

.mgpContainer {
	/* width: 100%; */
	width: 25vw;
	display: flex;
	justify-content: center;
	/* border: 1px solid red; */
	height: 30rem;
}

.movieDisplayContainer {
	width: 75vw;
	/* border: 1px solid magenta; */
	/* justify-content: center; */
	border-left: 1px solid rgb(58, 58, 58);
}
