.container {
	border: 1px solid rgb(69, 69, 69);
	padding: 20px;
	position: fixed;
	margin-top: 10vh;
	height: 28vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* flex-direction: column; */
}

.input {
	width: 18rem;
	margin-top: 10px;
	padding: 8px;
	font-size: 1rem;
	border: 1px solid gray;
	color: gray;
}

.yearInputContainer {
	margin-top: 10px;
	display: table-cell;
	width: 100%;
	padding: 8px;
	border: 1px solid gray;
	font-size: 1rem;
}

.button {
	padding: 10px;
	border: 1px solid black;
	font-size: 1rem;
	background-color: white;
}
